@import url('https://fonts.googleapis.com/css2?family=Oleo+script&display=swap');

body {
  background-color: #20212a;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
}

.trait {
  opacity: 0.7;
  width: 70%;
  border-top: 2px solid;
  margin: auto;
  margin-top: 4em;
  color: rgb(158, 70, 70);
}

.text1 {
  margin-top: 10%;
  font-size: 180%;
  color: rgb(158, 70, 70);
  font-family: Oleo Script solid;
  position: relative;
  left: 12%;
}

.contains {
  height: 150px;
  width: 70%;
  border: 2px solid;
  position: relative;
  left: 12%;
}

.description {
  color: rgb(158, 70, 70);
  font-size: 1.2em;
  font-family: Oleo Script solid;
  word-wrap: break-word;
  margin: 10px 10px 10px 10px;
}

/*********************************Media-Queries***************************/
