.main-footer {
  background-color: black;
  color: white;
  margin-top: 200px;
  /*margin: 1px;*/
  border: 2px solid black;
}

.row {
  display: flex;
  justify-content: space-around;
}

.ul {
  display: inline-flex;
  justify-content: space-around;
}

.col {
  display: flex;
}

.list-Medias {
  padding: 0px;
  margin: auto;
  display: inline-flex;
  list-style-type: none;
}

.hr {
  width: 97%;
}
