.filmTitle {
  color: aliceblue;
  text-align: center;
}
.conteneura {
  position: relative;
}
.txtcontenu {
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  z-index: 2;
}
.imgcontenu {
  transition: 0.5s;
}
.conteneura:hover .imgcontenu {
  opacity: 0.05;
}

.conteneura:hover .txtcontenu {
  opacity: 1;
}

.color {
  color: rgb(192, 51, 51);
}

.color1 {
  color: rgb(192, 51, 51);
  margin-bottom: 20px;
}
