@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

.filmTitle {
  font-size: 2em;
  font-family: 'Oleo Script', solid;
  color: aliceblue;
  text-align: center;
  margin-bottom: 1em;
}
.conteneura {
  position: relative;
  word-wrap: break-word;
}
.txtcontenu {
  font-size: 1.2em;
  text-align: center;
  font-family: 'Oleo Script', solid;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  z-index: 2;
}
.imgcontenu {
  transition: 0.5s;
}
.conteneura:hover .imgcontenu {
  opacity: 0.05;
}

.conteneura:hover .txtcontenu {
  opacity: 1;
}

.color {
  color: rgb(192, 51, 51);
}

.color1 {
  color: rgb(192, 51, 51);
  margin-bottom: 20px;
}
